# Ignore everything
**

# Allow files and directories
!backend/**/*.py
!backend/app
!backend/packages
!backend/tests
!backend/pyproject.toml
!backend/uv.lock
!qfield
!qfield/**/*.py
!app-entrypoint.sh
!migrate-entrypoint.sh
!migrations
